<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleDisplayName</key>
    <string>$(APP_DISPLAY_NAME)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.nukesportsbets.nukeunittracker</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>nukeunittracker</string>
            </array>
        </dict>
    </array>
    <key>COMMUNITY_API_URL</key>
    <string>$(COMMUNITY_API_URL)</string>
    <key>ODDS_API_KEY</key>
    <string>$(ODDS_API_KEY)</string>
    <key>VAULT_VERIFICATION_ENABLED</key>
    <string>$(VAULT_VERIFICATION_ENABLED)</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Choose up to three slip photos to attach to a tracked bet.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
</dict>
</plist>
